body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.half-width {
    width: 50%;
}

.third-width {
    width: 33.3%;
}

.quarter-width {
    width: 25%;
}

.fifth-width {
    width: 400px;
}
