$doubleViewWidth: 650px;
$calendarViewHeight: 300px;
$doubleViewPadding: 0 25px 10px 25px;


:root {
    --white: #FFFFFF;
    --black: #000000;

    --brand-accent: #D71A21;
    --brand-accent-light: #F7D1D2;
    --brand-accent-lightest: #FBE9E9;
    --brand-primary: #006698;
    --concrete-grey: #9B9B9B;
    --off-white: #F6F6F6;
    --rich-grey: #4A4A4A;

    --regular-weight: 400;
    --medium-weight: 500;
}
