@import "../Variables.scss";

.calendar_ {
    width: 315px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 10px;
    grid-auto-rows: 32px;
    // grid-auto-columns: 32px;

    .date {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        cursor: pointer;

        &.today {
            font-weight: bold;
        }

        &:hover {
            .date-inner {
                background-color: var(--concrete-grey);
            }
        }

        &.selected {
            color: var(--white);
            .date-inner {
                background-color: var(--brand-accent);
            }
        }

        &.invalid {
            color: var(--concrete-grey);
            cursor: not-allowed;
            &:hover {
                .date-inner {
                    background-color: transparent;
                }
            }
        }

        &.disabled {
            color: var(--concrete-grey);
            cursor: default;
            &:hover {
                .date-inner {
                    background-color: transparent;
                }
            }
        }

        .date-inner {
            width: 32px;
            height: 32px;
            z-index: 2;
            border-radius: 50%;
        }

        &.date-range {
            background-color: var(--brand-accent-light);
        }

        &.date-range-start {
            &:after {
                content: "";
                width: 80%;
                height: 100%;
                position: absolute;
                right: 0;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
                background-color: var(--brand-accent-light);
            }
        }

        &.date-range-end {
            &:after {
                content: "";
                width: 80%;
                height: 100%;
                position: absolute;
                left: 0;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                background-color: var(--brand-accent-light);
            }
        }
    }

    // .empty-date {
    //
    // }
}


.weekdays {
    width: 100%;
    padding: 6px 0;
    display: flex;
    font-size: 14px;
    font-weight: var(--medium-weight);
    color: var(--rich-grey);
    background-color: var(--off-white);

    span {
        flex: 1;
        text-align: center;
    }
}


.single-calendar-view {
    height: $calendarViewHeight;
    padding: 0 12px 10px 12px;
    position: relative;
    background-color: var(--off-white);

    .calendar {
        max-width: 315px;
        flex: 0.5;
        background-color: var(--white);
    }
}


.double-calendar-view {
    width: $doubleViewWidth;
    height: $calendarViewHeight;
    padding: $doubleViewPadding;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--off-white);

    .switch-view-button {
        right: 0px;
    }

    .double-month-picker {
        flex: 1;
    }

    .calendar {
        max-width: 315px;
        flex: 0.5;
        background-color: var(--white);
    }
}
