@import "../Variables.scss";

.calendar_ {
    width: 315px;
    // background-color: pink;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 10px;
    grid-auto-rows: 32px;
    // grid-auto-columns: 32px;

    .date {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        cursor: pointer;

        &.today {
            font-weight: bold;
        }

        &:hover {
            .date-inner {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }

        &.selected {
            color: white;
            .date-inner {
                background-color: $primaryColor-Hex;
            }
        }

        &.invalid {
            color: rgba(0, 0, 0, 0.2);
            cursor: not-allowed;
            &:hover {
                .date-inner {
                    background-color: transparent;
                }
            }
        }

        &.disabled {
            color: rgba(0, 0, 0, 0.2);
            cursor: default;
            &:hover {
                .date-inner {
                    background-color: transparent;
                }
            }
        }

        .date-inner {
            width: 32px;
            height: 32px;
            z-index: 2;
            border-radius: 50%;
        }

        &.date-range {
            background-color: primaryColorAlpha(0.2);
        }

        &.date-range-start {
            &:after {
                content: "";
                width: 80%;
                height: 100%;
                position: absolute;
                right: 0;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
                background-color: primaryColorAlpha(0.2);
            }
        }

        &.date-range-end {
            &:after {
                content: "";
                width: 80%;
                height: 100%;
                position: absolute;
                left: 0;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                background-color: primaryColorAlpha(0.2);
            }
        }
    }

    // .empty-date {
    //
    // }
}

.weekdays {
    width: 100%;
    padding: 6px 0;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: $richGray;
    background-color: $calendarBackground;

    span {
        flex: 1;
        text-align: center;
    }
}


/* Real Deal */
.single-calendar-view {
    width: 315px;
}


.double-calendar-view {
    width: $doubleViewWidth;
    height: $doubleViewHeight;
    padding: $doubleViewPadding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background-color: $calendarBackground;

    .fa-chevron-right {
        width: 15px;
        height: 20px;
        position: absolute;
        top: calc(50% - 10px);
        right: 5px;
        font-size: 20px;
        cursor: pointer;

        &.disabled {
            color: #9B9B9B;
            cursor: default;
        }
    }

    .double-month-picker {
        flex: 1;
    }

    .calendar {
        max-width: 315px;
        max-height: 270px;
        flex: 0.5;
        background: white;
    }
}
