@import "../Variables.scss";


.double-clock-view,
.double-calendar-view {

    .switch-view-button {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: calc(50% - 10px);
        right: 0px;
        fill: var(--rich-grey);
        cursor: pointer;

        &.disabled {
            fill: var(--concrete-grey);
            cursor: default;
        }
    } // End of .switch-view-button
}
