@import "../Variables.scss";


.double-clock-view,
.double-calendar-view {
    width: $doubleViewWidth;
    height: $calendarViewHeight;
    padding: $doubleViewPadding;
    position: relative;
    display: flex;
    background-color: $calendarBackground;

    .switch-view-button {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: calc(50% - 10px);
        right: 0px;
        fill: $richGray;
        cursor: pointer;

        &.disabled {
            fill: $concreteGray;
            cursor: default;
        }
    } // End of .switch-view-button
}
