@import "../Variables.scss";

.single-month-picker,
.double-month-picker {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $calendarBackground;

    .month-name {
        width: 140px;
        font-size: 16px;
        font-weight: $mediumWeight;
        color: $richGray;
        text-align: center;
        line-height: 30px;
    }

    .action {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $richGray;
        cursor: pointer;

        &.disabled {
            fill: $concreteGray;
            cursor: default;
        }
    }
}


.single-month-picker {

    .action {
        // text-align: center;
    }

}


.double-month-picker {
    // width: 700px;
    // min-width: 700px;
    // max-width: 700px;
    justify-content: space-between;

    .next-month,
    .previous-month {
        width: 320px;
        height: 30px;
        position: relative;
        line-height: 30px;
        text-align: center;

        .action {
            position: absolute;
            top: 0;
        }
    }

    .next-month > .action {
        right: 12px;
    }

    .previous-month > .action {
        left: 12px;
    }

}
