@import "../Variables.scss";

.single-month-picker,
.double-month-picker {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);

    .month-name {
        width: 140px;
        font-size: 16px;
        font-weight: var(--medium-weight);
        color: var(--rich-grey);
        text-align: center;
        line-height: 30px;
    }

    .action {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--rich-grey);
        cursor: pointer;

        &.disabled {
            fill: var(--concrete-grey);
            cursor: default;
        }
    }

    .today-button {
        position: absolute;
        top: 8px;
        font-size: 14px;
        font-weight: 500;
        color: var(--brand-primary);
        cursor: pointer;
    }
}


.single-month-picker {
    .today-button {
        left: 12px;
    }
}


.double-month-picker {
    // width: 700px;
    // min-width: 700px;
    // max-width: 700px;
    justify-content: space-between;

    .today-button {
        left: 24px;
    }

    .next-month,
    .previous-month {
        width: 320px;
        height: 30px;
        position: relative;
        line-height: 30px;
        text-align: center;

        .action {
            position: absolute;
            top: 0;
        }
    }

    .next-month > .action {
        right: 20%;
    }

    .previous-month > .action {
        left: 20%;
    }

}
