@import "../Variables.scss";

.double-clock-view {
    width: $doubleViewWidth;
    height: $calendarViewHeight;
    padding: $doubleViewPadding;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);

    &.hh,
    &.hh_mm {
        width: 400px;
    }

    &.hh_mm_ss {
        width: 450px;
    }

    &.hh_mm_ss_mmmm {
        width: 600px;
    }

    .switch-view-button {
        left: 0px;
    }
}

.single-clock-view {
    // width: $doubleViewWidth;
    height: $calendarViewHeight;
    padding: $doubleViewPadding;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);

    &.hh,
    &.hh_mm {
        width: 200px;
    }

    &.hh_mm_ss {
        width: 250px;
    }

    &.hh_mm_ss_mmmm {
        width: 300px;
    }

    .time-picker-container {
        flex: 1;
    }
} // End of .single-clock-view


.time-picker-container {
    height: 100%;
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    .header {
        font-size: 16px;
        font-weight: var(--medium-weight);
        color: var(--rich-grey);
    }

    .date {
        font-size: 14px;
        font-weight: var(--regular-weight);
        color: var(--rich-grey);
    }

    .time-picker {
        width: 100%;
        flex: 0.7;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);

        .hours-picker,
        .minutes-picker,
        .seconds-picker,
        .milliseconds-picker {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .time-input {
                width: 40px;
                margin: 0;
                padding: 0;
                border: none;
                outline: none;
                font-size: 34px;
                font-weight: bold;
                background: transparent;
                font-family: 'Roboto', sans-serif;
            } // End of .time-input

            .button {
                width: 30px;
                height: 30px;
                margin: 12px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                fill: var(--brand-accent);
                cursor: pointer;
            } // End of .button
        } // End of .*-picker

        .milliseconds-picker {
            .time-input {
                width: 60px;
            }
        } // End of .milliseconds-picker

        .time-separator {
            font-size: 34px;
            font-weight: var(--medium-weight);
            margin: 0 8px;
        } // End of .time-separator
    } // End of .time-picker

    .filler,
    .checkbox {
        flex: 0.1;
    } // End of .filler and .checkbox flex size.

    .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg { fill: var(--rich-grey); }

        .text {
            margin-left: 8px;
            font-size: 14px;
            color: var(--rich-grey);
        }
    } // End of .checkbox
} // End of .time-picker-container
